<div class='box'>
    <p>
      <%= pokemon.pokemon_name %>
    </p>
    <img src=<%= pokemon.image_url %> width='200' height='200' alt='Bulbasaur image'>
    <p>Type:
      <%= pokemon.pokemon_type %>
    </p>
  </div>